@model IEnumerable<TrainReservation.Models.Station>


<div class="container p-3">
    <h1>Stations</h1>
    <div class="row pt-4">

        <div class="col-6">
            <h2 class="text-primary">All Stations List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-controller="Station" asp-action="Create" class="btn btn-primary">Create new Station</a>
        </div>
    </div>

    <br />

    @if (Model.Count() > 0)
    {
        <table class="table table-bodered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Station Id
                    </th>
                    <th>
                        Station Name
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var station in Model)
                {
                    <tr>
                        <td width="35">@station.Id</td>
                        <td width="35">@station.Name</td>
                        <td width="30">
                            <a asp-controller="Station" asp-action="Update" asp-route-id="@station.Id" class="btn btn-primary">Update</a>
                            <a asp-controller="Station" asp-action="Delete" asp-route-id="@station.Id" class="btn btn-danger">Delete</a>  
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    else
    {
        <p>No stations created yet</p>
    }
</div>

